go 1.22.9

use (
	./pkg/auth
	./pkg/config
	./pkg/events
	./pkg/kafka
	./pkg/telemetry
	./services/delivery
	./services/gateway
	./services/notification
	./services/order
	./services/payment
	./services/restaurant
	./services/user
	./tools
)
