go 1.22

use (
	./pkg/events
	./pkg/kafka
	./pkg/auth
	./pkg/config
	./services/user
	./services/restaurant
	./services/order
	./services/payment
	./services/delivery
	./services/notification
	./services/gateway
)
